main {
    padding: 0.5rem 2rem;
  }
  
  /* table styling  */
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  table a,
  table a:hover {
    padding: 5px 10px;
    text-decoration: none;
    background-color: green;
    color: white;
    font-weight: 600;
  }